<H1> Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

| Data Science Tools |
----------------------
| Jupyter            |
| ApacheSpark        |
| R                  |

<H3> Below are a few examples of evaluating arithmetic expressions in Python.
<H5> Addition operation
<H5> 2+2

<H5> Multiplication operation 
<H5> 2*2

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

<h2> Author </h2> 
Wan Hassni Wan Hassan